h3.title {
    text-align: center;
    padding: 30px;
}

.map {
    margin: 0 auto;
    height: 92vh;
    width: 100%;
    padding: 30px;
    position: relative;
}

.detail{
    width: 400px;
    height: 100vh;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #FFFFFF;
    padding: 5px;
    font-weight: bold;

}

.link-map h2 {
    text-align: center;
    padding: 30px;
}

button.btn-delete {
    background-color: bisque;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px black solid;
    text-align: center;
}

.popup-mark h4{
    text-transform: uppercase;
    text-align: center;
}

.description-mark{
    text-align: center;
    font-weight: bold;
}

.detail-container {
    width: 100%;
    min-height: 100vh;
}

.carousel-item img{
    height: 500px;
    margin: 0 auto;
    object-fit: cover;
}

.layanan-image img{
    object-fit: cover;
    height: 240px;
}
